<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.letstestit.matrizen"
    versionCode = "10"
    version     = "0.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Matrizen</name>

  <description>
      Die Matrizenaufgabe als Schulvariante.
  </description>

  <author email="marco.koch@uni-saarland.de" href="https://www.uni-saarland.de/lehrstuhl/spinath/personen/msc-psych-marco-koch.html">
      Marco Koch
  </author>

  <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <gap:plugin name="cordova-plugin-device"/>
    <gap:plugin name="cordova-plugin-dialogs"/>
    <gap:plugin name="cordova-plugin-file"/>
</widget>